/* Variables */
$font-title: 'Signika', sans-serif;
$font-text: 'Inconsolata', monospace;
$font-logo: 'Berkshire Swash', cursive;
$color-logo: yellow;
$color-light: #ffffff;
$color-dark: black;


/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}

/* Navigation */

.navigation {
    position: fixed;
    width: 100%;
    background-color: gray;
}

.navigation-logo-box {
    display: inline-block;
}  

.navigation-logo {
    color: $color-logo;
    font-style: italic;
    font-size: 20 px;
    font-family: $font-logo;
    text-align: center;
}

.navigation-list {
    list-style-type: none;
    display: flex;
}
.navigation-list-item {
    display: inline-block;
    color: $color-light;
}


