/* Variables */
$font-title: 'Signika', sans-serif;
$font-text: 'Inconsolata', monospace;
$font-logo: 'Berkshire Swash', cursive;
$color-logo: yellow;
$color-light: #ffffff;
$color-dark: black;
$color-text: darkgrey


/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-text;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    color: $color-dark;
    font-size: 40px;
    text-align: center;
    font-family: $font-title;
    font-weight: bold;
    text-align: center
}

.section-subtitle {
    color: $color-text;
    font-family: $font-text;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}    

.p {
    font-size: 16px;
    font-family:$font-text;
    color: $color-text;
    text-align: center;
}   


/* Navigation */

.navigation {
    position: fixed;
    width: 100%;
}

.navigation-logo-box {
    display: inline-block;
}  

.navigation-logo {
    color: $color-logo;
    font-style: italic;
    font-size: 20 px;
    font-family: $font-logo;
    text-align: center;
    margin: auto;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list-item {
    display: inline-block;
}

.navigation-item {
    color: $color-light;
    text-decoration: none;
    font-size: 16px;
}   